apiVersion: batch/v1
kind: Job
metadata:
  name: db-seed-job
  namespace: default
  annotations:
    argocd.argoproj.io/hook: Sync  # ArgoCD가 배포할 때 실행
    argocd.argoproj.io/hook-delete-policy: HookSucceeded # 성공하면 Job 기록 삭제
spec:
  template:
    spec:
      containers:
      - name: db-seeder
        image: postgres:alpine
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "Seeding database safely...";
            # DB 비밀번호는 환경변수($DB_PASS)를 사용
            # 이미 데이터가 있으면 무시하고, 없을 때만 넣는 안전한 쿼리
            PGPASSWORD=$DB_PASS psql -h $DB_HOST -U $DB_USER -d $DB_NAME -c "INSERT INTO video (title, s3_key) SELECT 'AWS Hybrid Demo Video', 'demo.mp4' WHERE NOT EXISTS (SELECT 1 FROM video WHERE s3_key = 'demo.mp4');";
            echo "Done!";
        env:
        - name: DB_HOST
          value: "hybrid-demo-db.c4dqgm4aut3y.us-east-1.rds.amazonaws.com" # 본인 RDS 주소
        - name: DB_NAME
          value: "postgres"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASS
          value: "12345678" # [수정됨] 여기에 아까 설정한 DB 비밀번호를 직접 넣으세요!
      restartPolicy: OnFailure