apiVersion: batch/v1
kind: Job
metadata:
  name: db-seed-job
  namespace: default
  annotations:
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
      - name: db-seeder
        image: postgres:alpine
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "Seeding database safely...";
            # [수정됨] 이미 'demo.mp4'가 있으면 아무것도 안 하고, 없을 때만 넣는 쿼리
            PGPASSWORD=$DB_PASS psql -h $DB_HOST -U $DB_USER -d $DB_NAME -c "INSERT INTO video (title, s3_key) SELECT 'AWS Hybrid Demo Video', 'demo.mp4' WHERE NOT EXISTS (SELECT 1 FROM video WHERE s3_key = 'demo.mp4');";
            echo "Done!";
        env:
        - name: DB_HOST
          value: "hybrid-demo-db.c4dqgm4aut3y.us-east-1.rds.amazonaws.com"
        - name: DB_NAME
          value: "postgres"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: secret-key
      restartPolicy: OnFailure